<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>管理者画面</title>
    <meta name="description" content="BoSHのホームページです。">
    <meta name="Keywords" content="BoSH">
    <!-- <meta name="viewport" content="width=device-width,initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/admin.css">
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <!-- <script type="text/javascript" src = "/piblic/public/contact_ef.js"></script> -->
  </head>
  <body>
    <!-- ここからスクリプト言語 -->
    <!-- ここからヘッダー -->
    <header class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">

        <!-- ロゴの部分 -->
        <a href="/home" class="navbar-brand">BoSH</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <!-- <li class="nav-item">
              <a href="bosh_home.html" class="nav-link active">BoSHとは</a>
            </li> -->
            <li class="nav-item">
              <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                プロジェクト
              </a> -->
              <a  href="/project" class = "nav-link">
                プロジェクト
              </a>
            </li>
            <li class="nav-item">
              <a href="/online-edu" class="nav-link">オンライン事業</a>
            </li>
            <li class="nav-item">
              <a href="/activity" class="nav-link">これまでの活動</a>
            </li>
            <li class="nav-item">
              <a href="/contact" class="nav-link">コンタクト</a>
            </li>
            <li class="nav-item">
                <a href="/admin_login/admin" class="nav-link">管理者</a>
            </li>
          </ul>
        </div>
        <a href="/admin_login/admin/logout" class ="logout">Sign Out</a>
      </div>
    </header>
    <!-- ヘッダー終了 -->
    <main class = "container">
      <div id ="main_content">
        <section id = "campaign">
          <h1>質問内容</h1>
          <table id = "table_frame" border="4" width="100%">
            <tr align="center">
              <th width="4%">番号</th>
              <th width="10%">氏名</th>
              <th width="20%">メールアドレス</th>
              <th width="20%">件名</th>
              <th width="">お問い合わせ内容</th>
              <th width="9%">時間(GMT)</th>
              <th width="4%">対応</th>
            </tr>
           
              <!-- <script>
                function del(id) {
                  var result = window.confirm(data[i].name + "さんの質問を削除しますか？");
                  if(result) {
                    window.location = '/admin/del_data?id=' +id;
                  }
                }
              </script> -->
            <% for (let i in data) { %>
            <tr>
              <td align="center"><%= i %></td>
              <td align="center"><%= data[i].name%></td>
              <td align="center"><%= data[i].mail%></td>
              <td align="center"><%= data[i].subject%></td>
              <td align="center"><%= data[i].message%></td>
              <td align="center"><%= data[i].posted%></td><strong>
              <td align="center"><input type="checkbox" name="riyu" value="3" ;></td></strong>
            </tr>
            <% } %> 
          </table>
        </section>
      </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/31168af8af.js"></script>

    <footer>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/project">プロジェクト</a></li>
        <li><a href="/online-edu">オンライン事業</a></li>
        <li><a href="/activity">これまでの活動</a></li>
        <li><a href="/contact">コンタクト</a></li>
        <li><a href="/admin_login/admin">管理者</a></li>
      </ul>
      <samll>&copy;2020 CSS BoSH</samll>
    </footer>
  </body>
</html>